In [ ]:
# data exploration
import pandas ,numpy ,seaborn
#loading .csv in python
df = pandas.read_csv("/content/sample_data/mnist_test.csv")

In [ ]:
#load data to csv
d= {'col1': [1, 2], 'col2': [3, 4]}
df = pandas.DataFrame(data=d)
df.to_csv("/content/sample_data/mnist_test2.csv")
print(d)

{'col1': [1, 2], 'col2': [3, 4]}

# Nouvelle section

In [ ]:
df= pandas.read_csv('/content/sample_data/california_housing_test.csv', delimiter = ',')
rooms = numpy.array(df['total_rooms'])
population = numpy.array(df['population'])
age = numpy.array(df['housing_median_age'])
print(rooms,population,age)
print(df)

[3885. 1510. 3589. ...  956.   96. 1765.] [1537.  809. 1484. ...  693.   46.  753.] [27. 43. 27. ... 10. 40. 42.]
      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
#cour 3 data exploration
df= pandas.read_csv('/content/sample_data/mtcars.csv', delimiter = ',')
model = numpy.array(df['model'])
hp = numpy.array(df['hp'])
#average hourse power
avhp = numpy.mean(hp)
print(model,avhp)
ns = df.iloc[1:3, 0:3]
mean = df.mean()
mode = df.mode(axis=1)
print(ns, mean, mode)

['Mazda RX4' 'Mazda RX4 Wag' 'Datsun 710' 'Hornet 4 Drive'
 'Hornet Sportabout' 'Valiant' 'Duster 360' 'Merc 240D' 'Merc 230'
 'Merc 280' 'Merc 280C' 'Merc 450SE' 'Merc 450SL' 'Merc 450SLC'
 'Cadillac Fleetwood' 'Lincoln Continental' 'Chrysler Imperial' 'Fiat 128'
 'Honda Civic' 'Toyota Corolla' 'Toyota Corona' 'Dodge Challenger'
 'AMC Javelin' 'Camaro Z28' 'Pontiac Firebird' 'Fiat X1-9' 'Porsche 914-2'
 'Lotus Europa' 'Ford Pantera L' 'Ferrari Dino' 'Maserati Bora'
 'Volvo 142E'] 146.6875
           model   mpg  cyl
1  Mazda RX4 Wag  21.0    6
2     Datsun 710  22.8    4 mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64                 0     1    2      3      4   ...    7    8    9    10   11
0                4   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
1                4   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
2                1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
3                1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
4                0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
5                1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
6                0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
7                4   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
8                4   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
9                4   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
10               4   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
11               0   3.0  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
12               0   3.0  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
13               0   3.0  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
14               0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
15               0   3.0  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
16               0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
17               1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
18               1   4.0  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
19               1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
20               1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
21               0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
22               0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
23               0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
24               0   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
25               1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
26   Porsche 914-2  26.0  4.0  120.3   91.0  ...  16.7  0.0  1.0  5.0  2.0
27               1   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
28  Ford Pantera L  15.8  8.0  351.0  264.0  ...  14.5  0.0  1.0  5.0  4.0
29               6   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
30               8   NaN  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN
31               1   4.0  NaN    NaN    NaN  ...   NaN  NaN  NaN  NaN  NaN

[32 rows x 12 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/pandas/core/algorithms.py:969: UserWarning: Unable to sort modes: '<' not supported between instances of 'float' and 'str'
  warn(f"Unable to sort modes: {err}")